@import url('./styles/01-global.css');
@import url('./styles/02-logo-navbar.css');
@import url('./styles/03-info.css');
@import url('./styles/04-about.css');
@import url('./styles/05-slide.css');
@import url('./styles/06-formation.css');
